@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
    density: (scale: 0),
  ));
}

* { box-sizing: border-box; }
body { margin: 0; font-family: Roboto, sans-serif; }
